body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    display: inline;
}
a {
    display: inline;
    position: relative;
    bottom: 3px;
}

input {
    position: relative;
    top: 7px;
    right: 5px;
}

.back {
    position: relative;
    top: 10px;
}

.jobtitle {
    text-align: center
}

.title {
    padding-right: 10px;
}

.rightAlign {
    float: right;
}

.vl {
    border-right: 1px solid black;
    padding-right: 5px;
}

.border {
    border: 2px solid black;
}

.jobPicture {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-bottom: 0px;
}

.descriptionBox {
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
    height: 400px;
}

.profilePicture {
    position: relative;
    display: block;
    margin-left: 422px;
    margin-right: auto;
    width: 200px;
    top: -603px;
    border: 1px solid black;
    border-right: 0px;
}

.profileDescription {
    border: 1px solid black;
    border-top: 0px;
    display: block;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-left: 422px;
    margin-right: auto;
    top: -620px;
    position: relative;
    padding-top: 5px;
}