body {
    background-color: #EAF4F9;
}

a {
    display: inline;
    padding: 5px;
    position: relative;
    bottom: 3px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    padding: 5px;
}

.header {
    background-color: #C0C0C0;
}

.vl {
    border-left: 1px solid black;
    height: 500px;
  }

#profile {
    width: 2%;
    height: 2%;
    position: relative;
    right: 5px;
    top: 2px;
}

#searchbar {
    float: right;
    position: relative;
    right: 6px;
    top: 8px;
}

#submitbutton {
    float: right;
    position: relative;
    right: 6px;
    top: 8px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.rectangle-left {
    width:600px;
    height:200px;
    border:1px solid #000;
    float: left;
    position: relative;
    left: 150px;
    top: 25px;
    background-color: #C0C0C0;
}

.rectangle-right {
    width:600px;
    height:200px;
    border:1px solid #000;
    float: right;
    position: relative;
    right: 150px;
    top: 25px;
    background-color: #C0C0C0;
}

.profilepic-left {
    width: 200px;
    height: 198px;
    border: 1px solid black;
}

.profilepic-right {
    width: 200px;
    height: 198px;
    float: right;
    position: relative;
    right: 400px;
    border: 1px solid black;
}

.profilename-left {
    display: inline;
    position: relative;
    bottom: 170px;
}

.profilename-right {
    display: inline;
    position: relative;
    left: 205px;
    top: 5px;
}

.profileinfo-left {
    display: inline;
    position: relative;
    bottom: 140px;
    right: 67px;
}

.profileinfo-right {
    display: inline;
    position: relative;
    top: 30px;
    left: 140px;
}