body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #EAF4F9;
}

.header {
    background-color: #C0C0C0;
}

.everything-is-black {
    color: black; 
    text-decoration: none;

}

.everything-is-black-vl {
    color: black; 
    text-decoration: none;
    border-left: 1px solid black;
    height: 500px;
}

#profile {
    width: 2%;
    height: 2%;
    position: relative;
    right: 5px;
    top: 2px;
}

#searchbar {
    float: right;
    position: relative;
    right: 6px;
    top: 8px;
}

#submitbutton {
    float: right;
    position: relative;
    right: 6px;
    top: 8px;
}

a {
    display: inline;
    padding: 5px;
    position: relative;
    bottom: 3px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    padding: 5px;
}

.pfpsubmit {
    position: fixed;
}

.pfpimage {
    position: relative;
    padding-top: 10px;
}

.usersubmit {
    position: fixed;
    top: 675px;
}

.registerlink {
    float: right;
    position: relative;
    top: 4px;
    right: 4px;
}
