body {
    background-color: #EAF4F9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    display: inline;
    padding: 5px;
    position: relative;
    bottom: 3px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    padding: 5px;
}

.header {
    background-color: #C0C0C0;
}

.vl {
    border-left: 1px solid black;
    height: 500px;
  }

  .registerlink {
    float: right;
    position: relative;
    top: 4px;
    right: 4px;
}

#profile {
    width: 2%;
    height: 2%;
    position: relative;
    right: 5px;
    top: 2px;
}

#searchbar {
    float: right;
    position: relative;
    right: 6px;
    top: 8px;
}

#submitbutton {
    float: right;
    position: relative;
    right: 6px;
    top: 8px;
}

h2 {
    text-align: center;
}

.everything-is-black {
    color: black; 
    text-decoration: none;

}

.everything-is-black-vl {
    color: black; 
    text-decoration: none;
    border-left: 1px solid black;
    height: 500px;
}

.rectangle-left {
    width:615px;
    height:205px;
    float: left;
    position: relative;
    left: 150px;
    top: 10px;
    margin: 15px 0px 5px 0px;
    background-color: #C0C0C0;
    
}

.rectangle-right {
    width:615px;
    height:205px;
    float: right;
    position: relative;
    right: 150px;
    top: 10px;
    margin: 15px 0px 5px 0px;
    background-color: #C0C0C0;
}

.profilepic-left {
    width: 200px;
    height: 205px;
    float: left;
    position: relative;
}

.profilepic-right {
    width: 200px;
    height: 205px;
    float: right;
    position: relative;
    right: 414px;
}

.profilename-left {
    display: flex;
    position: relative;
    left: 5px;
}

.profilename-right {
    display: inline;
    position: relative;
    left: 205px;
    top: 2px;
}

.profileinfo-left {
    display: inline;
    position: relative;
    font-size: 15px;
    left: 5px;
}

.profileinfo-right {
    display: inline;
    position: relative;
    top: 25px;
    left: 205px;
}

.profilecontact-left {
    margin: 0;
    position: relative;
    top: 75px;
    left: 5px;
}

.profilecontact-right {
    margin: 0;
    position: relative;
    top: 40px;
    left: 205px;
}

#alien {
    width: 4%;
    height: 4%;
    position: relative;
    top: 1000px;
}